<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.vinea.mapper.userMapper">

	<!-- 
	userNum : 회원 번호 (기본키)
	userId : 회원 아이디
	userPw : 회원 비밀번호
	userEmail : 회원 이메일
	 -->
	 
	<resultMap id="userMap" type="com.vinea.dto.UserVO">
	
        <result property="userNum" column="USER_NO_PK" />
		<result property="userId" column="USER_ID" />
		<result property="userPw" column="USER_PW" />
		<result property="userEmail" column="USER_EMAIL" />
		
     </resultMap>
     
     
	<insert id="create">
	<!-- 회원가입 -->
	
		INSERT INTO
		
		USER_TB
		(
			USER_ID
		,	USER_PW
		,	USER_EMAIL
		)
		
		VALUES
		(
			#{userId}
		,	#{userPw}
		,	#{userEmail}
		)
		
	</insert>

     
	<select id ="selectUser" resultMap="userMap">
	<!-- 모든 회원 찾기 -->
	
		SELECT *
		 
		FROM
			USER_TB
		 
	</select>

	<select id="idCheck" parameterType="String" resultType="java.lang.Integer">
    <!-- 아이디 중복확인 (같은 아이디 개수 리턴) -->
   		SELECT
   			COUNT(USER_NO_PK)
   			
   		FROM
			USER_TB
		 
		WHERE
			USER_ID = #{userId}
   		 
    </select>

	<select id="login" resultMap="userMap">
	<!-- 입력한 아이디 유저 정보 리턴 -->
	
		SELECT *
		
		FROM
			USER_TB
		 
		WHERE
			USER_ID = #{userId}
		
	</select>

</mapper>